[%# -*- coding: utf-8 -*- 

  Cette page est la page qui s'affiche en cas d'erreur.

-%]
[% INCLUDE top.tt %]

[% INCLUDE bar.tt %]

    <div class='bodyContent'>

<p> 

Navré mais je perçois comme un problème! 

</p><p>

Veuillez me <a href='mailto:problem@paracamplus.com'>prévenir</a>
afin que je puisse analyser la situation. </p>

[% INCLUDE bottom.tt %]
